
div {
  border: solid 8px red;
  box-sizing: border-box;

  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 60px;
}

.box2, .box3 {
  float: left;
  border-color: yellow; }

.box1 {
   width: 100px;
  float: right;
  border-color: blue; }

