nav.navbar {
  margin-bottom: 0;
}

.jumbotron {
	position: relative;
	width: 100%; height: 400px;
	background:url("../images/pic2.jpg") center no-repeat;
	background-size: cover;
}


.jumbotron > .container {
	height: 90%;
	background: rgba(255,255,255,0.7);
}

.yycountdown-box{
	text-align:center;
	margin:10px 0;
	color:#000000;
}



#timerOlympic .yycountdown-box .yyc-day{ 
	font-size:3.0em;
	color:#0085C7;
}
#timerOlympic .yycountdown-box .yyc-hou{ 
	font-size:3.0em;
	color:#F4C300;
}
#timerOlympic .yycountdown-box .yyc-min{ 
	font-size:3.0em;
	color:#009F3D;
}
#timerOlympic .yycountdown-box .yyc-sec{ 
	font-size:3.0em;
	color:#DF0024;
}
#timerOlympic .yycountdown-box .yyc-msec{
	font-size:3.0em;
	color:#DF0024;
}

#timerOlympic .yycountdown-box .yyc-day-text,
#timerOlympic .yycountdown-box .yyc-hou-text,
#timerOlympic .yycountdown-box .yyc-min-text,
#timerOlympic .yycountdown-box .yyc-sec-text,
#timerOlympic .yycountdown-box .yyc-msec-text{
	font-size:1.0em;
}

.counter{ 
   font-family: 'Segment7Standard'; 
   font-weight: normal; 
   font-style: italic; 
   font-size: 3em;
}


@charset "UTF-8";

/*================================================
 *  一般・共通設定
 ================================================*/
 body {
 	font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
 	background:#E6E6E6;
 	padding-top: 20px;
 }

.colmn {
 	background:#ffffff;
 	padding: 3px 10px 3px;
 }

 
h2 {
	border-bottom: 2px solid #422161
}

.myfooter{
	background:#422161;
	margin-top:4px;
}

.footer_text{
	vertical-align: middle;
	color:#ffffff;
}

input.minutes, input.seconds{
	width: 70px; 
}

dt.picdate{
	font-size:1.15em;
}

/*================================================
 *  ヘッダー
 ================================================*/
 header {
 	position:relative;
 }

 .summary {
 	margin:0;
 	color:#ddd;
 }

.title {
	margin: 0;
	padding: 0;
}

/*================================================
 *  グローバルナビゲーション
 ================================================*/
 nav {
 	overflow:hidden;
 	position:relative;
 }
 nav h3 {
 	display:none;
 }
 nav ul {
 	margin:0;
 	padding:0;
 }
 nav li {
 	list-style:none;
 	margin:0;
 	padding:0;
 }
 nav li a {
 	display:block;
 	padding:30px;
 	color:#ffffff;
 	text-decoration:none;

 }
 nav li a:hover {
 	color:#ffffff;
 	border-left: 8px solid #ffffff;
 	transition:all 0.2s ease 0s;
 }
